.logotipo_universo{
    width: 10rem;
    height: 20rem !important;
    border-radius: 5px;
}

  .whatsapp_icon{
    color: #2eca6a !important;
    font-weight: bold;
    font-size: 1.5rem !important;
  }


