.logotipo_universo{
    width: 1px;
    height: 1px !important;
    border-radius: .5px;
}

  .whatsapp_icon{
    color: #2eca6a !important;
    font-weight: bold;
    font-size: 1.5rem !important;
  }
  /*Texto de apresentação da empresa*/
  .text_about{
    text-align: justify !important;
  }
  .title_services{
    font-size: 18px !important;
  }
  .card_bottom{
    margin-top:1rem !important;
  }



